* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body::before {
  content: '';
  height: 465px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  width: 100%;
  background: #293241;
}

body {
  background: #BFD7E4;
}

.page {
  width: 750px;
  margin: auto;
  text-align: center;

  font-family: 'Poppins', sans-serif;
}

header h1, .fieldset_header p, .fieldset_wrapper label, #button {
  font-family: 'Staatliches', sans-serif;
}

header, .fieldset_header, #button {
  color: #fff;
}

header {
  margin-top: 107px;
}

header h1 {
  font-size: 36px;
}

header p, .fieldset_wrapper legend {
  font-size: 15px;
}

header img {
  margin-top: 20px;
}

fieldset {
  margin-top: 30px;

  border: none;
}

.fieldset_header {
  height: 133px;
  width: 100%;

  background: #F67669;

  padding-top: 50px;

  border-radius: 20px 20px 0 0;
}

.fieldset_header p, .fieldset_wrapper label {
  font-size: 24px;
}

.fieldset_wrapper label {
  color: #253B51;
}

.fieldset_wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;

  background: #fff;

  padding: 35px 64px;
}

.fieldset_wrapper legend {
  line-height: 24px;
  color: #4E4958;
}

.fieldset_wrapper span {
  color: #C1BCCC;
  font-size: 12px;
  line-height: 20px;
}

.fieldset_wrapper + .fieldset_wrapper + .fieldset_wrapper {
  border-radius: 0 0 20px 20px;
}

.input_wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: baseline;
}

.input_wrapper input, select, textarea {
  height: 55px;
  border: 1px solid #E6E6F0;
  border-radius: 8px;
  
  background: #FAFAFC;

  width: 100%;
}

.col {
  display: flex;
  gap: 20px;
}

.col input, .input_wrapper select {
  width: 300px;
}

.fieldset_wrapper label {
  border-bottom: 1px solid #E6E6F0;
  padding-bottom: 8px;
}
.fieldset_wrapper + .fieldset_wrapper {
  gap: 35px;
}

.input_wrapper textarea {
  height: auto;
}

.checkbox_wrapper {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;

  margin-top: 10px;
}

.checkbox_wrapper #checkbox {
  height: 24px;
  width: 24px;
}

.col3 {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.col3 > div:nth-child(1) {
  width: 300px;
}

.col3 div {
  width: 140px;
}

#button {
  height: 51px;
  border: none;
  border-radius: 8px;

  background: #F67669;

  font-size: 20px;
  line-height: 26px;

  margin: 30px 0;
}

#button:hover {
  background: #f4867a;
}